<section class="ls texture-1 s-pt-90 s-pb-30 s-pt-xl-150 s-pb-xl-90 c-mb-60">
    <div class="container">
        <div class="row">
            {% if conter_1 %}
            <div class="col-sm-6 col-lg-3 text-center">
                <div class="icon-box d-inline-flex align-items-center justify-content-center">
                    <h3 class="special-heading text-uppercase counter-wrap d-flex">
                        <span class="counter emptytext color-main" data-from="0" data-to="{{ _(counter_1) }}" data-speed="1500">0</span>
                        <span class="counter-add emptytext color-main">{{ _(value_1) }}</span>
                    </h3>
                </div>
                <p class="small-text color-darkgrey mb-1 mt-2">{{ _(subtitle_1) }}</p>
                <h5 class="mt-0">{{ _(title_1) }}</h5>
            </div>
            {% endif %}
            {% if counter_2 %}
            <div class="col-sm-6 col-lg-3 text-center">
                <div class="icon-box d-inline-flex align-items-center justify-content-center">
                    <h3 class="special-heading text-uppercase counter-wrap d-flex">
                        <span class="counter emptytext color-main" data-from="0" data-to="{{ _(counter_2) }}" data-speed="1500">0</span>
                        <span class="counter-add emptytext color-main">{{ _(value_2) }}</span>
                    </h3>
                </div>
                <p class="small-text color-darkgrey mb-1 mt-2">{{ _(subtitle_2) }}</p>
                <h5 class="mt-0">{{ _(title_2) }}</h5>
            </div>
            {% endif %}
            {% if counter_3 %}
            <div class="col-sm-6 col-lg-3 text-center">
                <div class="icon-box d-inline-flex align-items-center justify-content-center">
                    <h3 class="special-heading text-uppercase counter-wrap d-flex">
                        <span class="counter emptytext color-main" data-from="0" data-to="{{ _(counter_3)}}" data-speed="1500">0</span>
                        <span class="counter-add emptytext color-main">{{ _(value_3) }}</span>
                    </h3>
                </div>
                <p class="small-text color-darkgrey mb-1 mt-2">{{ _(subtitle_3) }}</p>
                <h5 class="mt-0">{{ _(title_3) }}</h5>
            </div>
            {% endif %}
            {% if counter_4 %}
            <div class="col-sm-6 col-lg-3 text-center">
                <div class="icon-box d-inline-flex align-items-center justify-content-center">
                    <h3 class="special-heading text-uppercase counter-wrap d-flex">
                        <span class="counter emptytext color-main" data-from="0" data-to="{{ _(counter_4) }}" data-speed="1500">0</span>
                        <span class="counter-add emptytext color-main">{{ _(value_4) }}</span>
                    </h3>
                </div>
                <p class="small-text color-darkgrey mb-1 mt-2">{{ _(subtitle_4) }}</p>
                <h5 class="mt-0">{{ _(title_4) }}</h5>
            </div>
            {% endif %}
        </div>
    </div>
</section>