{% extends "templates/web.html" %}

{% block page_content %}

<div class="container">
{% include "templates/includes/search_template.html" %}
</div>

<script>
harpiya.ready(function() {
	$('.btn-more').on('click', function() {
		harpiya.call({
			method: 'harpiya.www.search.get_search_results',
			args: {
				text: '{{ query }}',
				start: $('.search-result-item').length,
				as_html: 1
			},
			callback: function(r) {
				$(r.message.results).appendTo('.search-result');
				$('.btn-more').toggleClass('hidden', !!!r.message.has_more);
			}
		});
	});
});
</script>
{% endblock %}