<section id="steps" class="ls s-py-90 s-py-xl-150 c-gutter-80 leaf-wrap overflow-visible with-leaf-2 parallax">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="icon-box">
                    <h5 class="mb-3 position-relative">{{ _(title_1) }} <span class="text-special emptytext">01</span></h5>
                    {% if content_1 %}
                    <p>
                        {{ _(content_1) }}
                    </p>
                    {% endif %}
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="divider-60 divider-lg-0 divider-xl-80"></div>
                <div class="icon-box">
                    <h5 class="mb-3 position-relative">{{ _(title_2) }} <span class="text-special emptytext">02</span></h5>
                    {% if content_2 %}
                    <p>
                        {{ _(content_2) }}
                    </p>
                    {% endif %}
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 me-md-auto ms-md-auto">
                <div class="divider-60 divider-lg-0 divider-xl-160"></div>
                <div class="icon-box">
                    <h5 class="mb-3 position-relative">{{ _(title_3) }} <span class="text-special emptytext">03</span></h5>
                    {% if content_3 %}
                    <p>
                        {{ _(content_3) }}
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>