<div class="col-md-4">
    <div class="product-loop-item">
        <div class="product-thumbnail-wrap">
            <a href="/{{ doc.route }}">
				<img src="{{ doc.product_image }}" alt="{{ doc.name }}">
            </a>
        </div>
    </div>
    <div class="product-text-wrap hide-btn">
        <div class="product-title-cat-wrap text-center text-uppercase">
            <h5>
                <a href="/{{ doc.route }}l" rel="tag">{{ doc.name }}</a>
            </h5>
        </div>
    </div>
</div>
